@model IEnumerable<Biblioteca.Models.Persona>

@{
    ViewData["Title"] = "Registro de Lectores";
}

<h1>Lectores</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3 bg-primary">
        <h6 class="m-0 font-weight-bold text-white">Lista de Lectores</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <a  class="btn btn-success btn-sm" type="button" asp-action="Create">Create Nuevo Lector</a>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered" id="tabla" style="width:100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </th>
                                <th> @Html.DisplayNameFor(model => model.Apellido)</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Correo)
                                </th>
                                <th> @Html.DisplayNameFor(model => model.Clave) </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Apellido)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Correo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Clave)
                                    </td>
                                    <td>
                                        <a class="btn btn-success btn-sm" type="button" asp-action="Edit" asp-route-id="@item.IdPersona">Edit</a>
                                        <a class="btn btn-success btn-sm" type="button" asp-action="Details" asp-route-id="@item.IdPersona">Details</a>
                                        <a class="btn btn-success btn-sm" type="button" asp-action="Delete" asp-route-id="@item.IdPersona">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

