@model Biblioteca.Models.Prestamo

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle del Préstamo</h1>

<div>
    <h4>Prestamo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaToma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaToma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDevolucion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDevolucion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.devolucion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.devolucion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLibro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLibro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPersona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPersona)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" type="button"  asp-action="Edit" asp-route-id="@Model.IdPrestamo">Editar</a>
    <br />
    <br />

    <a asp-action="Index">
        <span><img style="margin: 0; display: inline-block; height: 40px; float: none;" src="~/img/iconoAtras - Copia.png" /></span>
    </a>
</div>
