@model Biblioteca.Models.Prestamo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prestamo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaToma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaToma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDevolucion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDevolucion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.devolucion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.devolucion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLibro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLibro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPersona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPersona)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPrestamo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
