@model Biblioteca.Models.Libro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Libro</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ejemplares)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ejemplares)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Disponibilidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Disponibilidad)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" type="button" asp-action="Edit" asp-route-id="@Model.IdLibro">Editar</a>
    <br />
    <br />
    <a asp-action="Index">
        <span><img style="margin: 0; display: inline-block; height: 40px; float: none;" src="~/img/iconoAtras - Copia.png" /></span>
    </a>
</div>

